@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

body {
    width: 100%;
    height: 100vh;
    margin: 0 auto;

}

ul {
    padding: 0px !important;
}

.menu-principal {
    width: 100%;
    background-image: linear-gradient(rgb(197, 197, 189), rgb(255, 255, 255));
    height: 80px;
    border-bottom: 2px solid #df911da1;
    border-top: 2px solid #df911da1;

}


.logo {
    margin: auto;
    float: left;
    text-align: center;
    width: 100%;
    position: relative;
    padding-top: 0.7%;
}


.header-1 {
    width: 100%;
    text-align: center;
    position: relative;
}

.header-2 {
    text-align: center;
    width: 100%;
    height: 50px;
    margin: 0 auto;

}

.menu h5 {
    width: 100%;
    text-align: center;
    align-items: center;
    display: inline-block;
    color: rgb(255, 255, 255);
    margin: auto;
    position: relative;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    top: 40%;
    transform: translateY(-50%);
}

.menu ul {
    width: 80%;
    margin-left: 10%;

}

.menu ul li {
    display: inline-block;
    position: relative;
    margin-top: 10px;
    margin: 10px 2%;
}

.menu ul li a {
    width: 100%;
    text-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    position: relative;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    top: 40%;
    transform: translateY(-50%);
}


.menu {
    align-items: center;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom right, rgba(56, 25, 4, 0.905), rgb(111, 62, 9));
    border-bottom: 2px solid #df911da1;
    position: relative;
}

.googlesheets {
    width: 100%;
    height: calc(100vh - 140px);

}

.container {
    width: 100%;
    height: 100%;
}

.homebutton {
    width: 25px;
    height: 20px;
    float: right;
    margin-right: 10%;
    top: 40%;
    transform: translateY(-50%);
}

.homebutton-light {

    width: 25px;
    height: 20px;
    float: right;
    margin-top: 15px;

}

.collapsible {
    background-color: rgb(255, 255, 255);
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;

}

#container-assembleia {
    display: none;
    width: 100%;
    margin: auto;
    height: calc(100vh - 140px);
}

#container-primarias {
    display: none;
    width: 100%;
    margin: auto;
    height: calc(100vh - 140px);

}

#container-secundario {
    display: none;
    width: 100%;
    margin: auto;
    height: calc(100vh - 140px);

}


#container-operacoes {
    display: none;
    width: 100%;
    margin: auto;
    height: calc(100vh - 140px);
}

#container-empresas {
    display: none;
    width: 100%;
    margin: auto;
    height: calc(100vh - 140px);
}

#container-estruturacao {
    display: none;
    width: 100%;
    margin: auto;
    height: calc(100vh - 140px);
}

#container-cartas {
    display: none;
    width: 100%;
    margin: auto;
    height: calc(100vh - 140px);
}

.barra-pesquisa {
    width: 100%;
    justify-content: center;
    margin: auto;
    display: flex;
}

.embreve {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/*BARRA DE PESQUISA */

#fruitList li {
    text-align: center;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    /* add cursor property */
}

/* PDF VIEWER */

.centro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100%;
}

.centro-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.centro-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#fruitInput {
    margin-left: 10px;
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    border-radius: 5px;
}

#pdfViewer {
    width: 80%;
    height: 100%;
}

#container-veneto30 {
    display: none;
    width: 100%;
    margin: auto;
    height: calc(100vh - 140px);
    background-color: antiquewhite;
}

#container-vpmulti {
    display: none;
    width: 100%;
    margin: auto;
    height: calc(100vh - 140px);
    background-color: rgb(252, 224, 187);
}

#container-vpprev {
    display: none;
    width: 100%;
    margin: auto;
    height: calc(100vh - 140px);
    background-color: rgb(255, 206, 143);
}

#container-vpfidc {
    display: none;
    width: 100%;
    margin: auto;
    height: calc(100vh - 140px);
    background-color: rgb(255, 182, 87);
}

#container-vplatache {
    display: none;
    width: 100%;
    margin: auto;
    height: calc(100vh - 140px);
    background-color: rgb(255, 163, 43);
}

#container-vpfip {
    display: none;
    width: 100%;
    margin: auto;
    height: calc(100vh - 140px);
    background-color: rgb(255, 145, 0);
}